<launch>
    <!-- vim: set ft=xml noet : -->

    <arg name="ns" default="/" />
    <arg name="fcu_url" default="" />
    <arg name="gcs_url" default="udp://:14550@:14555" />
    <arg name="tgt_system" default="1" />
    <arg name="tgt_component" default="1" />
    <arg name="log_output" default="log"/>

    <group ns="$(arg ns)">
        <include file="$(find mavros)/launch/node.launch">
            <arg name="log_output"  value="$(arg log_output)"/>

            <arg name="fcu_url" value="$(arg fcu_url)" />
            <arg name="gcs_url" value="$(arg gcs_url)" />
            <arg name="tgt_system" value="$(arg tgt_system)" />
            <arg name="tgt_component" value="$(arg tgt_component)" />
        </include>
    </group>

	<node pkg="agrodrone" type="commander.py" name="commander">
		<rosparam file="$(find agrudrone)/launch/parameters.yaml" command="load" />
	</node>

</launch>
